{% extends 'layouts/app.html' %}

{% block title %}A simple visual lead tracking tool.{% endblock %}
{% block meta_description %}A simple visual lead tracking tool.{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Managing a co-manufacturing business?</h1>
      <h3 class="text-muted">
        A simple visual lead tracking tool.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Track your leads and their status in a single glance.</h2>
        <p>
          <a href="{{ url_for('user.signup') }}" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Centralize communication in one place.</h2>
        <p>
          <a href="{{ url_for('user.signup') }}" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Easy to use, no training needed.</h2>
        <p>
          <a href="{{ url_for('user.signup') }}" class="btn btn-default">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
